<!DOCTYPE html>

<head>
  <title>Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="" />

  <!-- bootstrap-css -->
  <link rel="stylesheet" href="../../../backend/css/bootstrap.min.css">
  <!-- //bootstrap-css -->
  <!-- Custom CSS -->
  <link href="../../../backend/css/style.css" rel='stylesheet' type='text/css' />
  <link href="../../../backend/css/style-responsive.css" rel="stylesheet" />
  <!-- font CSS -->
  <link
    href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>
  <!-- font-awesome icons -->
  <link rel="stylesheet" href="../../../backend/css/font.css" type="text/css" />
  <link href="../../../backend/css/font-awesome.css" rel="stylesheet">

  <link href="../../../backend/css/demo.css" rel="stylesheet">

  <!-- //font-awesome icons -->
  <script src="../../../backend/js/jquery2.0.3.min.js"></script>

</head>

<body>
  <section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
      <!--logo start-->
      <div class="brand">
        <a href="/dashboard" class="logo">
          ADMIN SHOP
        </a>
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars"></div>
        </div>
      </div>

      <div class="top-nav clearfix">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
          <li>
            <input type="text" class="form-control search" placeholder=" Search">
          </li>
          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <img alt="" src="../../../backend/images/2.png">
              <% if (user) { %>
              <span class="username"><%= user.username %></span>
               <% } %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
              <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
              <li><a href="/users/logout"><i class="fa fa-key"></i> Log Out</a></li>
            </ul>
          </li>
          <!-- user login dropdown end -->

        </ul>
        <!--search & user info end-->
      </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
          <ul class="sidebar-menu" id="nav-accordion">
            <li>
              <a class="active" href="/admin/pages/dashboard" target="_blank">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-dashboard"></i>
                <span>Pages</span>
              </a>
              <ul class="sub">
								<li><a href="/admin/pages/add-page">Add page</a></li>
								<li><a href="/admin/pages/pages">List page</a></li>
							</ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-dashboard"></i>
                <span>Categories</span>
              </a>
              <ul class="sub">
								<li><a href="/admin/categories/add-category">Add category</a></li>
								<li><a href="/admin/categories/">List category</a></li>
							</ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-dashboard"></i>
                <span>Products</span>
              </a>
              <ul class="sub">
								<li><a href="/admin/products/add-product">Add product</a></li>
								<li><a href="/admin/products/">List product</a></li>
							</ul>
            </li>
          </ul>
        </div>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
      <%- messages('messages', locals) %>

      <% if (errors) {%>
        <% errors.forEach(function(error){ %>
          <div class="alert alert-danger">
            <%- error.msg %>
          </div>
        <% }); %>
      <% }%>

      



</body>

</html>