</section>
<!-- footer -->
<div class="footer">
  <div class="wthree-copyright">
    <p>© PTH - MTL - NNNP <a href="/">Trang chính</a></p>
  </div>
</div>
<!-- / footer -->
</section>
<!--main content end-->
</section>
<script src="../../../backend/js/bootstrap.js"></script>
<script src="../../../backend/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="../../../backend/js/scripts.js"></script>
<script src="../../../backend/js/jquery.slimscroll.js"></script>
<script src="../../../backend/js/jquery.nicescroll.js"></script>

<script src="../../../backend/js/jquery.scrollTo.js"></script>
<!-- ckeditor -->
<script src="//cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
<script src="../../../backend/js/main.js"></script>