<!DOCTYPE html>
<html>

<head>
    <title>Cơ quan hành lý</title>
    <link rel="stylesheet" type="text/css" href="./login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container" id="container">
        <div id="sign-in" class="form-container sign-in-container">
            <form id="signin-form" action="/dangnhap" method="POST">
                <h1>Quên mật khẩu</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social"><i class="fa fa-google"></i></a>
                    <a href="#" class="social"><i class="fa fa-phone"></i></a>
                </div>
                <input id="signin-password" type="password" name="farmer_password" placeholder="Password">

                <button type="submit">Cập nhật</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Chào mừng trở lại!</h1>
                    <p>Để giữ kết nối với chúng tôi, vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
                    <button class="ghost" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Xin chào người dùng</h1>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });
        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>

<script>
    const form2 = document.getElementById('signin-form');
    form2.addEventListener('submit', changeFarmer);

    //1. send data as JSON (very common when you're using JS)
    //1. send data as urlencoded (very common when you're using JS)
    async function changeFarmer(event){
        event.preventDefault();
        const farmer_password = document.getElementById('signin-password').value;

        const result = await fetch('/api/change-password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                newpassword: farmer_password,
                token: localStorage.getItem('token')
            })
        }).then((res) => res.json())

        if (result.status === 'ok') {
            alert('success');
        } else {
            alert(result.error);
        }
    }
</script>

</body>

</html>