<%- include ("_layouts/header") %>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 ftco-animate">
                    <h1 class="billing-heading">Fund Farmer</h1>
                    <p><button class="btn btn-danger py-3 px-4" id="withdraw">Withdraw</button></p>
                    <h5>Address Wallet : <span class="white"><span id="SenderBalance"></span></h5>
                    <div class="row align-items-end">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="firstname">Farmer Address</label>
                                <input type="text" class="form-control" placeholder="" id="addressfm">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="firstname">Lot Number</label>
                                <input type="text" class="form-control" placeholder="" id="lotid">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="lastname">Value</label>
                                <input type="text" class="form-control" placeholder="" id="valueETH">
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align: center;">
                            <h5><b><label>Balance</label></b>: <span id="balance"></span>ETH</h5>
                        </div>
                        <!-- <p><button class="btn btn-primary py-3 px-4 mr-5" id="fund">Fund</button></p> -->
                        <p><button class="btn btn-danger py-3 px-4 mr-5" id="connectMM">Connect Metamark</button></p>
                        <p><button type="button" class="btn btn-primary py-3 px-4 mr-5" data-toggle="modal" data-target="#exampleModal">Deposit</button></p>
                        <p><button class="btn btn-primary py-3 px-4 mr-5" id="fundfarmer">Fund Farmer</button></p>
                        <p><button class="btn btn-selector py-3 px-4" onclick="refresh();">Refresh</button></p>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Deposit</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">ETH:</label>
                                        <input type="text" class="form-control" id="depositETH">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="fund">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="row mt-5 pt-3">
                        <div class="col-md-12 d-flex mb-5">
                            <div class="cart-detail cart-total p-3 p-md-4">
                                <img src="../../../frontend/images/fund.jpg" class="img-fluid" alt="Responsive image">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-detail cart-total p-3 p-md-4">
                                <img src="../../../frontend/images/fund1.jpg" class="img-fluid" alt="Responsive image">
                            </div>
                        </div>
                    </div>
                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section> <!-- .section -->

    <%- include ("_layouts/footer") %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../../process.js"></script>
        <!-- nhúng thư viện web3 -->
        <script src="../../scripts/web3.js"></script>